*{
   
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height: 140px;
    display:flex;
    justify-content: left;
    align-items: center;
    background-color: #c02b2b;
    box-shadow: 0cap;
}

.logo h1{
    margin-left: 5%;
    color: #cfd5d6;
}

.logo img{
    width: 150px;
    height: 140px;
}

.nav-menu{
    text-align: center;
    background-color: #c02b2b;
    height: 30px;
}

.nav-menu .menu li{
    display: inline-block;
    padding: 0.20px;
}

.nav-menu a{
    font-size: 700;
    color: #000000;
    text-decoration: none;
    margin-left: 100px;
    color: #fff;
}


.nav-usuario{
    text-align: right;
}

.nav-usuario li{
    display: inline-block;
    padding: 0.20px;
    background-color: #883b3b;
}

.nav-usuario a{
    font-size: 700;
    color: #000000;
    text-decoration: none;
    margin-left: 100px;
    color: #fff;
}

.form-login{
    text-align: center;
    padding: 5%;
}

.correo{
    padding: 3%;
}

.mensaje{
    padding: 1%;
}

.form-login a{
    text-decoration: none;
}

.boton-login{
    padding: 1%;
}

.formulario-contacto div,h2{
    text-align: center;
    padding: 1%;
}

.formulario-contacto a{
    text-decoration: none;
}

.estadisticas{
    text-align: center;
}

.container-acerca{
    text-align: center;
}

.contenedor-contacto{
    text-align: center;
}

.contenedor-contacto div{
    padding: 1%;
}

.contenedor-contacto a{
    text-decoration: none;
}

.redes{
    text-align: center;
    margin: 0,0,1;
}

.redes ul{
    list-style: none;
}

.redes ul li{
    padding: 0.5em;
}

.redes a{
    text-decoration: none;
}

.buscar{
    text-align: center;
    padding: 5%;
}

.buscar input{
    width: 50%;
}

.contenido{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.menu li {
	list-style: none;
}

.revistas{
    display: flex;
    margin-left: 20%;
}

.revistas .tx-1{
    padding: 1%;
}

.revistas .tx-2{
    padding: 1%;
}

.revistas .tx-3{
    padding: 1%;
}

.revistas .tx-4{
    padding: 1%;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-left: 10%;
}

.titulo-card{
    margin-left: 13%;
    padding: 5%;
}

.card{
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .descripcion{
    padding: 15px;
    text-align: center;
}

.card .descripcion p{
    line-height: 1.5;
    color: #6a6a6a;
}

.card .descripcion h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .descripcion a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #cc2f2f;
    border: 1px solid #cc2f2f;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .descripcion a:hover{
    background-color: #cc2f2f;
    color: #fff;
}

input{
    padding: 5px 15px;
}

.container-footer{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color: #c02b2b;
    padding: 80px;
    margin-top: 5%;
    text-align: center;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 1%;
}

.footer-links h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links li {
	list-style: none;
}

.footer-links ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: #fff;
    padding-left: 6px;
}

.footer-links p{
    font-size: 18px;
    display: block;
}